/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button{
    background-color: white;
    height: 35px;
    width: 74px;
    border-radius: 33px;
    border: none;
    margin-right: 25px;
}

.button2{
    background-color: black;
    height: 35px;
    width: 74px;
    border-radius: 33px;
    border: none;
}

h1{
    font-size: 3em;
    
}

p{
    font-size: 1.15em;
}


/*
HEADER
*/
header{
    background-color: #3161E0;
    padding: 20px 0;
}

.header-flex-container{
    display: flex;        
}

.header-col-small{
    height: 40px;
    width: calc(100% / 4);
    display: flex;
    justify-content: center;
    
}

.header-col-small2{
    height: 40px;
    width: calc(100% / 4);
    display: flex;
    justify-content: flex-end;
    
}

.header-col-big{
    height: 40px;
    width: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header-col-big nav ul li{
    display: inline-block;
}

.header-col-big nav ul li a{
    text-decoration: none;
    color: white;
    padding-left: 23px;
}

.header-col-small2 .button{
    background-color: white;
    height: 35px;
    width: 74px;
    border-radius: 33px;
    border: none;
}




/*
MAIN
*/


/*section 1*/

.flex-container-sec-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.first-section{
    height: 500px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}



.first-box-section-1{
    height: 380px;
    width: 800px;
    text-align: center;
    color: white;
    padding: 0 60px;
    padding-top: 70px;
    
}

.first-box-section-1 h1{
    padding-bottom: 30px;
}

.first-box-section-1 .buttons-sec-1 .button{
    height: 35px;
    width: 170px;
    border-radius: 33px;
}

.first-box-section-1 .buttons-sec-1 .button2{
    color: white;
    height: 35px;
    width: 210px;
    border-radius: 33px;
}

.buttons-sec-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    
    
}


/*section 2e4*/
.flex-container-sec-2{
    display: flex;
    margin-bottom: 50px;
    padding-top: 50px;
    
}

.second-section{
    height: 500px;
}

.first-box-section-2{
    height: 380px;
    width: 40%;
    padding-left: 10px;
}

.second-box-section-2{
    height: 380px;
    width: 60%;
    padding: 0 182px;
}

.first-box-section-2 img{
    height: 390px;
    width: 160%;
}

.second-box-section-2 h1{
    padding-bottom: 15px;
}

.second-box-section-2 p{
    line-height: 25px;
}


/*section 3*/

.flex-container-sec-3{
    display: flex;
    margin-bottom: 50px;
    padding-top: 50px;
    
}

.third-section{
    background-color: #D3D3D3;
    height: 500px;
}

.first-box-section-3{
    height: 380px;
    width: 40%;
    padding: 0 71px;
    padding-top: 15px;
}
.second-box-section-3{
    height: 380px;
    width: 60%;
}

.first-box-section-3 h1{
    padding-bottom: 15px;
}

.first-box-section-3 p{
    line-height: 25px;
}

.second-box-section-3 img{
    height: 390px;
    width: 100%;
}


/*section 4*/

.fourth-section{
    height: 500px;
}

/*section 5*/

.fifth-section{
    background-color: #D3D3D3;
    height: 1200px;
}

.flex-container-sec-5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}


.first-box-section-5{
    height: 1100px;
    width: 100%;
    
}

.text-section-5{
    text-align: center;
    padding: 0 111px;
    padding-top: 30px
}

.text-section-5 h1{
    padding-bottom: 10px;
}

.first-box-section-5 img{
    margin: 0 56px;
    width: 1115px;
    height: 677px;
}

.button-section-5{
    color: white;
    background-color: #516FC5;
    height: 35px;
    width: 170px;
    border-radius: 33px;
    border: none;
    margin-right: 25px;
}

.last-box-section-5{
    text-align: center;
}

.last-box-section-5 h2{
    padding-bottom: 20px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*
FOOTER
*/
#line-footer{
    height: 1px;
}

/*BIG*/

.footer-big{
    background-color: #23272A;
    height: 500px;
}

.flex-container-footer-big{
    display: flex;
    margin-bottom: 50px;
    padding-top: 50px;
    
}


.first-box-footer-big{
    background-color: #f08080;
    border: dashed 1px black;
    height: 380px;
    width: calc((100% / 3)*1);
}

.second-box-footer-big{
    background-color: #20B2AA;
    border: dashed 1px black;
    height: 380px;
    width: calc((100% / 3)* 2);
}

.columns-footer-big{
    background-color: #20B2AA;
    border: dashed 1px white;
    height: 380px;
    width: calc(100% / 4);
}

.flex-container-columns-footer-big{
    display: flex;
}





/*SMALL*/

.footer-small{
    background-color: #23272A;
    height: 100px;
}

.flex-footer-small{
    display: flex;
    padding: 20px;
}

.row-footer-small{
    height: 80px;
    width: 100%;
}

.flex-columns-footer-small{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-footer{
    color: white;
    background-color: #3161E0;
    height: 35px;
    width: 74px;
    border-radius: 33px;
    border: none;
}


